<div>
  <h1>Карточка создания</h1><button (click)="closeDetail()" mat-button>Закрыть</button><br>
  <span>Название:</span><input #inputForTitle [value]="task ? task.title : 'Новая задача'" ><br>
  <span>Тип:</span>
  <mat-radio-group (change)="selectedType = $event.value">
    <mat-radio-button [checked]="task ? task.type == types.PERSONAL : false" [value]="types.PERSONAL">{{types.PERSONAL}}</mat-radio-button>
    <mat-radio-button [checked]="task ? task.type == types.WORKING : false" [value]="types.WORKING">{{types.WORKING}}</mat-radio-button>
  </mat-radio-group>
  <p>Описание:</p>
  <p>Дата до:</p>

  <input [(ngModel)]="selectedDate" matInput [matDatepicker]="myDatepicker">
  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatepicker></mat-datepicker>
  <br>
  <button mat-raised-button (click)="task ? updateTask(inputForTitle.value) : createTask(inputForTitle.value)">{{action}}</button>
</div>
