<div>
  <h1>{{task ? "Карточка редактирования" : "Карточка создания"}}</h1><button (click)="closeDetail()" mat-button>Закрыть</button><br>
  <span>Название:</span><input #inputForTitle (keyup.enter)="action(inputForTitle.value)" [value]="task?.title" ><br>
  <span>Тип:</span>
  <mat-radio-group (change)="selectedType = $event.value">
    <mat-radio-button [checked]="task?.type == types.PERSONAL" [value]="types.PERSONAL">{{types.PERSONAL}}</mat-radio-button>
    <mat-radio-button [checked]="task?.type == types.WORKING" [value]="types.WORKING">{{types.WORKING}}</mat-radio-button>
  </mat-radio-group>
  <p>Описание:</p>
  <p>Дата до:</p>

  <input [(ngModel)]="selectedDate" matInput [matDatepicker]="myDatepicker">
  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatepicker></mat-datepicker>
  <br>
  <!--<mat-label>Autosize textarea</mat-label>-->
  <!--<textarea matInput-->
            <!--cdkTextareaAutosize-->
            <!--#autosize="cdkTextareaAutosize"-->
            <!--cdkAutosizeMinRows="2"-->
            <!--cdkAutosizeMaxRows="5"></textarea>-->
  <br>
  <button mat-raised-button (click)="action(inputForTitle.value)">{{actionLabel}}</button>
</div>
