<app-task-list-part (taskForEdit)="editTask($event)" (taskForDelete)="deleteTask($event)" [title]="types.PERSONAL" [tasks]="tasks[types.PERSONAL]"></app-task-list-part>
<app-task-list-part (taskForEdit)="editTask($event)" (taskForDelete)="deleteTask($event)" [title]="types.WORKING" [tasks]="tasks[types.WORKING]"></app-task-list-part>
<app-task-list-part (taskForEdit)="editTask($event)" (taskForDelete)="deleteTask($event)" [title]="types.UNKNOWN" [tasks]="tasks[types.UNKNOWN]"></app-task-list-part>

